body {
    font-family: 'Handjet', sans-serif;
    background: linear-gradient(to right, #00001A 20%, #00001A 40%, #1B0036 60%, #2D0050 80%, #58306b 100%, #67327f 100%);
    color: white;
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.qq {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo22 {
    width: 60px;
    height: 60px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

.gg {
    display: flex;
    gap: 50px;
}

.header1 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
}

.header1:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

header .auth-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    cursor: pointer;
    border-radius: 5px;
}

header .auth-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
}

.content-header {
    text-align: center;
    margin: 20px 0;
}

.content-header h1 {
    font-family: 'Handjet', sans-serif;
    font-size: 36px;
}

.content-header p {
    font-family: 'DotGothic16', sans-serif;
    font-size: 18px;
}

.content-header .group-button {
    margin: 20px 0;
    padding: 10px 20px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
}

.content-header .group-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.content-header .selectGroup {
    padding: 10px 20px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
}

.schedule-content {
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(90deg, #FF00F5 0%, #9E00FF 100%);
    border-radius: 10px;
    width: 80%;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}

.schedule-content p {
    margin: 10px 0;
}

.schedule-content #selectedGroup {
    margin: 20px 0;
}

.schedule-content .schedule-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schedule-content .day-column {
    margin: 10px;
    padding: 10px;
    background: #6a0dad;
    border-radius: 10px;
    width: 150px;
}

.schedule-content .day-column h3 {
    font-family: 'Handjet', sans-serif;
    font-size: 24px;
}

.schedule-content .day-column p {
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    color: #fff;
}

.group-button {
    margin: 10px auto;
    padding: 10px 20px;
    background: linear-gradient(90deg, #FF00F5 0%, #9E00FF 100%);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
}

.group-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin: 10px auto;
    padding: 10px 20px;
    background: linear-gradient(90deg, #FF00F5 0%, #9E00FF 100%);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    max-width: 600px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.group-list button {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 20px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}
